#login-form {
    max-width: 400px;
}
.login-form-forgot {
    float: right;
}
.login-form-button {
    width: 100%;
}

.form-container{
    text-align: center;
    width: 100%;
}

.form-dashboard-container{
    text-align: center;
}

.initial-form{
    text-align: center;
    display: inline-block;
    width: 60%;
}

#button-container{
    display: inline-block;
    width: 60%;
}

#button-container > .submit-button{
    float: left;
}

#button-container > .back-button{
    float: right;
}

