.store-list-container{
  text-align:center;
}

.comments-container{
  width: 400px;
  height: 600px;
}
.add-comment-form-container{
  width: 200px;
  height: 400px;
}

.store-card{
  width: 30%;
  height: 90%;
  margin-left: 5px;
  margin-right: 5px;
  flex:auto;
}

.comment-card{
  height: 30%;
}

.button-inside-store-rec{
  width: 120px;
  margin: 5px;

}

