.store-list-container{
  text-align:center;
}

.store-card{
  display: inline-block;
}

.comments-container{
  width: 400px;
  height: 500px;
}
.add-comment-form-container{
  width: 200px;
  height: 400px;
}
