.home-container{
    width: 95%;
    height: 95%;
    text-align:center;
    margin:auto;
}


.working-area{
    height: 120%;
}

.dashboard-content-container{
    display: inline-block;
    box-shadow: 0 1px 15px 5px rgba(163,163,163,.44);
    text-align: center;
    height: 90%;
    width: 70%;
    margin-top: 30px;
}


.navbar-container{
    height: 50px;
    position:fixed;
    width:90%;
    top: 0;
    z-index: 1;
}


.ads-area-left{
    float: left;
    border: dashed 2px black;
    height: 90%;
    width: 10%;
}

.ads-area-right{
    float:right;
    border: dashed 2px black;
    height: 90%;
    width: 10%;
}
