.home-container{
    width: 95%;
    height: 95%;
    text-align:center;
    display: inline-block;
    //flex:auto;
}


.working-area{
    height: 100%;
}

.dashboard-content-container{
    display: inline-block;
    //border: dashed 2px black;
    box-shadow: 0 1px 15px 5px rgba(163,163,163,.44);
    text-align: center;
    height: 90%;
    width: 70%;
    margin-top: 30px;
}


.navbar-container{
    height: 50px;
    width: 100%;
}

.navbar-greetings{
    margin:auto;
    width: 200px;
}

.ads-area-left{
    float: left;
    border: dashed 2px black;
    height: 90%;
    width: 10%;
}

.ads-area-right{
    float:right;
    border: dashed 2px black;
    height: 90%;
    width: 10%;
}
