.loading-container{
    text-align: center;
    margin-top: 200px;
}
//
//.store-rec-loading-container{
//    width: 50%;
//    text-align: center;
//}
//
//.store-rec-loading-notice{
//    display:inline-block;
//}
//
.store-rec-loading-card{
    display:inline-block;
}


